.DS_Store
.Rhistory
*.config
*.properties
.ipynb_checkpoints/
*.pyc
*.pkl
*.xml
*.csv
*.key
*.keys
*.pickle
*.parquet
*.json
*.wip
*.sh
.chalice/
.env
.terraform/
bin/
venv/
*.rss
*.wav
creds.*
gcloud-lang-api-key.json

ideas/**
tools-and-techniques/2017/photos/*

*.sqlite
jupyterhub_cookie_secret
*.sql
*.tfstate
*.tfstate.backup
