<? include("../header.php") ?>

<div id="bbody">
<h1>Ordinary Least Squares Regression</h1>

<p>This episode explores Ordinary Least Squares or OLS - a method for finding a good fit which describes a given dataset.</p>

</div>

<? include("../footer.php") ?>
