## Street View for Address Verification

A challenge faced by online retailers is reducing loss due to deliveries.  Fortunate online shoppers live in safe areas where deliveries can be left at an empty home and are not obviously visible.  Maybe another way of saying this is that fortunate online shoppers are those who have delivery professionals that will leave packages without signature and live in neighborhoods where that is unlikely to result in a theft.

I've noticed that large retailers are very fast to send a replacement under any issue.  We're in an era of completing on customer service with regard to delivery, which is great for consumers.  It's rare when Linhda and I don't get at least one box per day.  As Amazon Prime customers, we tend to order things from Amazon as a first supplier.

The UPS delivery person covering our new home is a solid professional.  This was not at all true of the delivery person at our old address.  On more than one occasion they lied about attempting to make a delivery and not finding anyone home when we were in fact home.  On several occasions the opted to require a signature even when the sender did not require one.  I'm told UPS gives them this discretion, which makes sense, but it also takes some sense to execute appropriately on that discretion.

I'm clearly carrying some resentment.  I think that's fair given the high frequency for error at our old address and the amount of time wasted trying to follow up.  We've been fortunate enough in both our previous and current home to live in safe areas and to and fairly private enclosed spots in front of our door.  I'm sure not everyone lives in these circumstances, and no doubt, there are some people for whom delivery theft is a major issue.

Retailers have to make a decision about whether or not to require a signature.  That signature is an inconvience and annoyance (assuming it's not explicitly requested) to the consumer.  Thus, they should want to minimize their use of signature required.  Yet, they also need to minimize on theft and replacement costs.

I was getting ready to schedule a recent order someone made right here on dataskeptic.com for one of our T-Shirts.  The address was international, so I Googled it just to make absolutely sure I had the right location.  Without planning on it, I now had a streetside view of the home of listener and future t-shirt owner.  The home was a very well kept, safe looking, residential home.

It was visually clear to me that this is a place one need not require signature.  If I say a densely urban setting and an apartment building, I might have thought otherwise.

I've not hear any mention of the carriers nor retailers relying on Google Street View data in any way as a form of validation of decision making.  I'm extremely curious to know if anyone does this.

As a verification, Street View can confirm a building exists at the location.  The building could be classified into relevant groups like business, multi-unit, single family home, etc., with basic computer vision approaches.  I don't think deep learning is required for this task, although it could surely be successful.

Deep learning or even some of the cognitive APIs that offer image labeling might extact clues from vehicles present or assess whether or not the home is lived in.  I suppose an investment in a concept like this has to be judged in light of the amount of savings from preventative loss.  Regardless, this short experience has me thinking about how Street View might be helpful for automated decision making.
